<h1>New Listing</h1>

<%= render 'form', listing: @listing, categories: @categories %>

<%= link_to 'Back', listings_path %>

<footer class="copyright">
            <p>Copyright &#169 QUart 2021 – All rights reserved</p>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="javascript/main.js"></script>