<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Mr+Dafoe&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <title>QUart</title>
</head>
<body>
    <div class="about-container">
        <h1>About</h1>
        <h3>QUart was formed in 2021 to showcase the very best art in Queensland, Australia and connects the artists directly with art-lovers worldwide.</h3>
    </div>

<!-------------footer--------->
        <footer class="copyright">
            <p>Copyright &#169 QUart 2021 – All rights reserved</p>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="javascript/main.js"></script>
</body>
</html>