<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Mr+Dafoe&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <title>QUart</title>
</head>
<body>
    <%# <header>
        <div class="overlay"></div> %>
        <%# <nav>
            <h2>QUart</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="art.html">Art</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="cart">
                    <a href="cart.html">
                        <ion-icon name="basket"></ion-icon>Cart<span>0</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div> %>
    <div class="main-image">
        <%= image_tag asset_path("dsc00054.jpg") %>
        <%= image_tag asset_path("dsc00055.jpg") %>
        <%= image_tag asset_path("dark-rocks.jpg") %>
        <%= image_tag asset_path("3-while-the-sun-shines.jpg") %>
    </div>
<!-------------footer--------->
        <footer class="copyright">
            <p>Copyright &#169 QUart 2021 – All rights reserved</p>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="javascript/main.js"></script>
</body>
</html>