<div class="payment-success">
<h1>Payment Successful!</h1><br>

<p>You purchased <%= @listing.name %> </p>

<p>Congratulations, you paid. <%= @listing.price %> </p>
</div>

<!-------------footer--------->
<footer class="copyright">
    <p>Copyright &#169 QUart 2021 – All rights reserved</p>
</footer>
<%# <%= link_to "Receipt", @purchase.receipt_url, target: :_blank %>